html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: Arial;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

h1            { text-align: center; font-size: 54px; font-family: Impact; margin-bottom: 0px; margin-top: 10px; }
th, td        { vertical-align: top; text-align: left; }   
/* #finaltable  * { color: white; background-color: black; }   */

/* #finaltable table { border-collapse:collapse; } */
/* #finaltable table, td { border:1px solid white; } */
#finaltable:hover td { background-color: blue; } 
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
input        { text-align: center; border: none;  margin: auto;}     /* Align input to the right  */
textarea     { border: outset; border-color: white;       }                        
table        { border: inset; border-color: white; margin: auto; }
.hidden      { display: none;}
.unhidden    { display: block; }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error       { background-color: red; }
pre.output   { background-color: white; }
span.repeated { background-color: red }
span.header { background-color: blue }
span.comments { background-color: orange }
span.blanks { background-color: green }
span.nameEqualValue { background-color: cyan }
span.error { background-color: red }

body
{
 background-color:#D7DDC4;  /* blue */
}
#linea{
	background-color: black;
	height: 2px;
	margin: auto;
	margin-bottom: 10px;
	width: 50%;		
	}
#zonaDrop {
	color: white;
	text-align: center;
	line-height: 100px;
	height: 100px;
	width: 50%;
	margin: auto;
	border: outset;
	border-color: :#0F527A;
	background-color: black;
}

.barra{
				
				width: 50%;
				margin: auto;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			
.btn{
	background-color:#0F527A;
	text-align: center;
	font-size: 24px;
	color:white;
	font-weight: bold;	
	width: 180px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;	
	display: inline-block;
	border: solid;
	border-color: white;
	text-decoration:none; 
	
	}
	.btn:hover {
	background-color: #245191;
	border: 1px solid #0f2557;
	border-radius: 9px;
}
